In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Products.csv")
df.head()

   Product Id Weight (kg) Length (m) Width (m) Height (m)
0       44331       1.025     0.2286    0.1524     0.0508
1       44352       0.504       0.14      0.04       0.16
2       44373       0.488      0.105     0.105      0.075
3       44394      1.0028       0.11      0.11       0.15
4       44415        0.55       0.13      0.13       0.11

In [3]:
df.dtypes

Product Id      int64
Weight (kg)    object
Length (m)     object
Width (m)      object
Height (m)     object
dtype: object

In [4]:
df.isna().sum()

Product Id     0
Weight (kg)    4
Length (m)     5
Width (m)      2
Height (m)     4
dtype: int64

In [5]:
df.shape

(3058, 5)

In [6]:
df1 = df[df.isna().any(axis=1)]
df1

      Product Id Weight (kg) Length (m) Width (m) Height (m)
33         45024         NaN     0.1143    0.2286     0.0762
46         45297       0.022        NaN      0.16       0.07
94         46305       1.004       0.26      0.19        NaN
122        46893         NaN       0.16      0.12       0.03
157        47628       0.144       0.06      0.05        NaN
188        48279         NaN       0.14      0.09     0.1524
236        49287       0.278       0.13       NaN       0.13
284        50295           0        NaN         0          0
285        50316       0.005        NaN      0.09       0.03
353        51744           0        NaN         0          0
381        52332         1.9        0.1       0.1        NaN
424        53235         NaN       0.08      0.08      0.102
552        55923       0.012        NaN      0.01       0.02
614        57225       0.766       0.22       NaN       0.02
3019      128520       0.454       0.07      0.04        NaN

## Weight (kg)

In [7]:
# df['Weight (kg)'] = df['Weight (kg)'].astype(float) 
# I use this to check the nominal values

In [8]:
df['Weight (kg)'] = df['Weight (kg)'].replace(['aa'],'0.0')
df['Weight (kg)'] = df['Weight (kg)'].replace([''],'0.0')
df['Weight (kg)'] = df['Weight (kg)'].replace(['@'],'0.0')
df['Weight (kg)'] = df['Weight (kg)'].replace([')'],'0.0')
df['Weight (kg)'] = df['Weight (kg)'].replace(['?'],'0.0')
df['Weight (kg)'] = df['Weight (kg)'].replace(['gg'],'0.0')

In [9]:
df['Weight (kg)'] = df['Weight (kg)'].astype(float)

In [10]:
df.dtypes

Product Id       int64
Weight (kg)    float64
Length (m)      object
Width (m)       object
Height (m)      object
dtype: object

In [11]:
df.isna().sum()

Product Id     0
Weight (kg)    4
Length (m)     5
Width (m)      2
Height (m)     4
dtype: int64

In [12]:
df['Weight (kg)'].fillna(value=df['Weight (kg)'].mean(), inplace=True)

In [13]:
df.isna().sum()

Product Id     0
Weight (kg)    0
Length (m)     5
Width (m)      2
Height (m)     4
dtype: int64

## Length (m)

In [14]:
# df['Length (m)'] = df['Length (m)'].astype(float)
# I use this to check the nominal values

In [15]:
df['Length (m)'] = df['Length (m)'].replace(['ee'],'0.0')
df['Length (m)'] = df['Length (m)'].replace(['gg'],'0.0')
df['Length (m)'] = df['Length (m)'].replace(['('],'0.0')
df['Length (m)'] = df['Length (m)'].replace(['.'],'0.0')
df['Length (m)'] = df['Length (m)'].replace(['['],'0.0')

In [16]:
df['Length (m)'] = df['Length (m)'].astype(float)

In [17]:
df.dtypes

Product Id       int64
Weight (kg)    float64
Length (m)     float64
Width (m)       object
Height (m)      object
dtype: object

In [18]:
df.isna().sum()

Product Id     0
Weight (kg)    0
Length (m)     5
Width (m)      2
Height (m)     4
dtype: int64

In [19]:
df['Length (m)'].fillna(value=df['Length (m)'].mean(), inplace=True)

In [20]:
df.isna().sum()

Product Id     0
Weight (kg)    0
Length (m)     0
Width (m)      2
Height (m)     4
dtype: int64

## Width (m)

In [21]:
# df['Width (m)'] = df['Width (m)'].astype(float)
# I use this to check the nominal values

In [22]:
df['Width (m)'] = df['Width (m)'].replace(['dd'],'0.0')
df['Width (m)'] = df['Width (m)'].replace(['jj'],'0.0')
df['Width (m)'] = df['Width (m)'].replace(['!!'],'0.0')
df['Width (m)'] = df['Width (m)'].replace(['%'],'0.0')
df['Width (m)'] = df['Width (m)'].replace(['^'],'0.0')
df['Width (m)'] = df['Width (m)'].replace(['.'],'0.0')
df['Width (m)'] = df['Width (m)'].replace(['â€œ'],'0.0')

In [23]:
df['Width (m)'] = df['Width (m)'].astype(float)

In [24]:
df.dtypes

Product Id       int64
Weight (kg)    float64
Length (m)     float64
Width (m)      float64
Height (m)      object
dtype: object

In [25]:
df.isna().sum()

Product Id     0
Weight (kg)    0
Length (m)     0
Width (m)      2
Height (m)     4
dtype: int64

In [26]:
df['Width (m)'].fillna(value=df['Width (m)'].mean(), inplace=True)

In [27]:
df.isna().sum()

Product Id     0
Weight (kg)    0
Length (m)     0
Width (m)      0
Height (m)     4
dtype: int64

## Height (m)

In [28]:
# df['Height (m)'] = df['Height (m)'].astype(float)
# I use this to check the nominal values

In [29]:
df['Height (m)'] = df['Height (m)'].replace(['ss'],'0.0')
df['Height (m)'] = df['Height (m)'].replace(['&'],'0.0')
df['Height (m)'] = df['Height (m)'].replace(['*'],'0.0')
df['Height (m)'] = df['Height (m)'].replace(['|'],'0.0')

In [30]:
df['Height (m)'] = df['Height (m)'].astype(float)

In [31]:
df.dtypes

Product Id       int64
Weight (kg)    float64
Length (m)     float64
Width (m)      float64
Height (m)     float64
dtype: object

In [32]:
df.isna().sum()

Product Id     0
Weight (kg)    0
Length (m)     0
Width (m)      0
Height (m)     4
dtype: int64

In [33]:
df['Height (m)'].fillna(value=df['Height (m)'].mean(), inplace=True)

In [34]:
df.isna().sum()

Product Id     0
Weight (kg)    0
Length (m)     0
Width (m)      0
Height (m)     0
dtype: int64

<h1><center><b>Thanks!</b></center></h1>